.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 320px;
  min-height: 100%;
  background-color: @white;
  color: @dark-grey-1;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  .font-s-h();
  margin: 0;
  padding: 0;
}

.page__body a {
  text-decoration: none;
}
