.dillers {
  background-color: #ffffff;

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    max-width: 1440px;
  }
}

.dillers__wrap {
  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: repeat(3, 1fr);
  }
}

.dillers__info {
  z-index: 999;
  display: grid;
  grid-template-rows: 60px;
  grid-template-columns: 1fr 1fr;
  background-color: #ffffff;
  padding: 25px 20px;

  @media (min-width: @tablet-width) {
    background-color: @basic-grey;
    padding: 50px 70px 50px 70px;
    grid-template-rows: 100px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 0;
    column-gap: 250px;
  }

  @media (min-width: @desktop-width) {
    background-color: #ffffff;
    grid-template-rows: 200px;
    grid-template-columns: 245px 245px;
    column-gap: 80px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    align-items: center;
    margin-left: 110px;
    padding: 0 0 0 0;
  }
}

.dillers__info-title {
  .font-s-h(16px;18px);
  font-family: "Oswald-regular", "Arial", sans-serif;
  font-weight: 200;
  color: @black;
  text-transform: uppercase;
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 2;

  @media (min-width: @tablet-width) {
    .font-s-h(20px;22px);
    align-self: center;
  }

  @media (min-width: @desktop-width) {
    margin-left: 80px;
  }
}

.dillers__info-subtitle {
  .font-s-h(14px;20px);
  margin: 0;
  grid-column-start: 2;
  grid-column-end: -1;

  @media (min-width: @tablet-width) {
    .font-s-h(16px;20px);
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
    margin-right: 50px;
  }
}

.dillers__info-subtitle span {
  @media (min-width: @tablet-width) {
    position: relative;
    top: 1rem;
  }
}

.dillers__map {
  margin: 0;
  display: grid;
  min-height: 362px;

  @media (min-width: @tablet-width) {
    min-height: 400px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
  }
}

.dillers__map-frame {
  border: 0;
}
