.dillers {
  background-color: @white;
  .debug();
}

.dillers__wrap {
  margin: 0;
  padding: 0;
}

.dillers__info {
  padding: 25px 20px;
  display: grid;
}

.dillers__info-title {
  .font-s-h(16px;18px);
  font-family: "Oswald-regular", "Arial", sans-serif;
  font-weight: bold;
  color: @black;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  display: grid;
}

.dillers__info-subtitle {
  .font-s-h(14px;20px);
  margin: 0;
  display: grid;
}

.dillers__map {
  margin: 0;
  display: grid;
}
