.dillers {
  background-color: @basic-grey;
}

.dillers__wrap {
  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: repeat(3, 1fr);
  }
}

.dillers__info {
  z-index: 999;
  padding: 25px 20px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 140px auto 140px;
  background-color: @basic-grey;

  @media (min-width: @tablet-width) {
    padding: 62px 72px;
    grid-template-rows: 70px;
    grid-template-columns: 155px auto 155px;
    align-items: flex-start;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    align-items: center;
    margin-left: 110px;
    width: 570px;
    background-color: @white;
    padding: 70px 90px 62px 78px;
  }
}

.dillers__info-title {
  .font-s-h(16px;18px);
  font-family: "Oswald-regular", "Arial", sans-serif;
  font-weight: 200;
  color: @black;
  text-transform: uppercase;
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 2;

  @media (min-width: @tablet-width) {
    .font-s-h(20px;21px);
    align-self: center;
  }
}

.dillers__info-subtitle {
  .font-s-h(14px;20px);
  margin: 0;
  grid-column-start: 3;
  grid-column-end: -1;

  @media (min-width: @tablet-width) {
    .font-s-h(16px;20px);
  }
}

.dillers__info-subtitle span {
  @media (min-width: @tablet-width) {
    position: relative;
    top: 1rem;
  }
}

.dillers__map {
  margin: 0;
  display: grid;
  min-height: 362px;

  @media (min-width: @tablet-width) {
    min-height: 400px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
  }
}

.dillers__map-frame {
  border: 0;
}
