.footer {
  background-color: @basic-grey;
  .debug ();
}

.footer__wrap {
  padding: 0 20px;
}

.footer__name {
  border-bottom: 1px solid @grey-2;
  padding: 25px 30px;
}

.footer__social {
  border-bottom: 1px solid @grey-2;
  padding: 25px 30px;
}

.footer__social-item {
  color: @grey-2;
}

.logo-academy {
  width: 150px;
}
