.footer {
  background-color: @basic-grey;
}

.footer__wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 40px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 90px;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    padding-top: 45px;
  }
}

.footer__logo {
  border-bottom: 1px solid @grey-2;
  margin-top: 39px;
  padding-bottom: 27px;

  @media (min-width: @tablet-width) {
    padding: 0;
    border-bottom: none;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    padding-bottom: 0;
  }
}

.footer__logo:hover {
  opacity: 0.8;
}

.footer__logo:active {
  opacity: 0.3;
}

.footer__social {
  border-bottom: 1px solid @grey-2;
  padding: 20px 0;

  @media (min-width: @tablet-width) {
    padding: 0;
    border-bottom: none;
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: flex-end;
    width: 155px;
    column-gap: 25px;
  }

  @media (min-width: @desktop-width) {
    column-gap: 13px;
    width: 100px;
    justify-content: space-between;
  }
}

.footer__social-item:not(:last-child) {
  margin-right: 24px;

  @media (min-width: @tablet-width) {
    margin-right: 0;
  }

  @media (min-width: @desktop-width) {
    margin-right: 10px;
  }
}

.footer__social-item img {
  height: 100%;
}

a.footer__social-item[href="vk.com"] .user-list__login-icon {
  fill: @grey-3;
  width: 23px;
  height: 16px;

  &:hover {
    fill: @basic-green;
  }

  @media (min-width: @tablet-width) {
    width: 30px;
    height: 22px;
  }
}

a.footer__social-item[href="facebook.com"] .user-list__login-icon {
  stroke: @grey-3;
  fill: transparent;
  width: 22px;
  height: 22px;

  &:hover {
    stroke: @basic-green;
  }

  @media (min-width: @tablet-width) {
    width: 28px;
    height: 30px;
  }
}

a.footer__social-item[href="instagram.com"] .user-list__login-icon {
  fill: @grey-3;
  width: 16px;
  height: 16px;

  &:hover {
    stroke: @basic-green;
  }

  @media (min-width: @tablet-width) {
    width: 23px;
    height: 23px;
  }
}

a.footer__social-item:active .user-list__login-icon {
  opacity: 0.3;
}

.footer__logo-academy {
  margin-top: 22px;

  @media (min-width: @tablet-width) {
    padding: 0;
    border-bottom: none;
    width: 163px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
  }
}

.logo-academy {
  display: flex;
  justify-content: space-between;
  color: @dark-grey-1;

  @media (min-width: @tablet-width) {
    .font-s-h(16px;18px);
  }
}

.logo-academy span {
  align-self: center;
}

.logo-academy .user-list__login-icon {
  fill: @grey-3;
}

.logo-academy:hover .user-list__login-icon {
  fill: @basic-green;
}

.logo-academy:active {
  opacity: 0.3;
}
