.page-header {
  padding: 20px;
  max-width: 320px;
  .debug ();
}

.page-header a {
  text-decoration: none;
  color: @dark-grey-1;
}

.page-header__logo {
  width: 33px;
}

.page-header__logo-name {
  width: 100px;
}
