.form-group {
  background-color: @white;
  color: @dark-grey-1;
  margin: 0;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: none;
  text-transform: uppercase;
  .oswald();
}

.form-group input,
textarea,
fieldset,
label {
  text-transform: uppercase;
  .oswald();
  padding: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form-group textarea {
  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.form-group input {
  flex-grow: 1;
}

.form-group__title {
  .font-s-h(24px;26px);
  text-transform: none;
  color: @black;
  margin-bottom: 34px;
}

.form-group__label {
  margin-right: 10px;
  align-self: center;
}

/* Группа инпутов Имя */
.text-group {

  flex-direction: column;
  flex-wrap: nowrap;
}

.text-group__field {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  @media (min-width: @tablet-width) {
    width: 630px;
    min-height: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
  }
}

.form-group__input--text {
  .font-s-h(16px;18px);
  padding: 15px auto 15px 15px;
  color: @dark-grey-1;
  border: 1px solid @grey-2;
}

.text-group > .form-group > .text-group__field {
  @media (min-width: @desktop-width) {
    min-height: 52px;
  }
}

.text-group > .form-group > .text-group__field:nth-child(-n+2) {
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
  }
}


/* Группа радио инпутов */
.radio-group {
  border-left: none;
  border-right: none;
  border-bottom: 1px solid @grey-2;
  border-top: 1px solid @grey-2;
  padding-right: 0;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  height: auto;

  @media (min-width: @tablet-width) {
    border-left: 1px solid @grey-2;
    border-right: 1px solid @grey-2;
    max-width: 610px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    margin-left: 0;
  }
}

.radio-group input[type="radio"] {
  background-color: @basic-green;
}

.form-group__input--radio {
  background-color: @basic-green;
  margin: 0 0 12px 0;
}

/* Группа инпутов контактные данные  */
.form-contact {
  border-left: none;
  border-right: none;
  border-bottom: none;

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

.form-contact fieldset {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 80px;
  }
}

/* Группа инпутов комментарии */
.form-comment {
  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

.form-comment > .form-group > .text-group__field {
  @media (min-width: @desktop-width) {
    width: 100%;
  }
}


.form-group__textarea {
  resize: none;
  width: 100%;
  min-height: 150px;
  border-color: @grey-2;
}

.form-comment textarea::placeholder {
  color: @dark-grey-1;
}

/* Группа инпутов комментарии */
.form-addition {
  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

.form-addition > .form-group {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: -1;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.form-addition > .form-group > .checkbox-group__field {
  @media (min-width: @tablet-width) {
    width: 50%;
  }
}

/* Группа конец формы кнопка */
.page-form__footer {
  padding: 0 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 60px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: -1;
    column-gap: 80px;
    padding: 0 110px;
  }
}

.footer-submit {
  width: 280px;
  height: 40px;
  padding: 8px 44px;
}

.page-form__footer > p {
  align-self: center;
}
