
.green-line::after,
.green-line::before {
  border-bottom: 3px solid @basic-green;
  height: 0.5em;
  position: absolute;
  top: 4px;
  content: "";
}

.green-line::after {
  margin-left: 40px;
}

.form-contact .green-line::after {
  width: 6rem;

  @media (min-width: @tablet-width) {
    width: calc(100% / 2);
  }

  @media (min-width: @desktop-width) {
    width: calc(100% / 0.7);
  }
}

.form-contact .green-line::before {
  width: 2rem;
  left: -70px;

  @media (min-width: @desktop-width) {
    width: calc(100% / 7);
    left: -110px;
  }
}

.form-comment .green-line::after {
  width: 9rem;
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    width: calc(100% / 0.4);
  }

  @media (min-width: @desktop-width) {
    width: calc(100% / 0.7);
  }
}

.form-comment .green-line::before {
  @media (min-width: @tablet-width) {
    width: 2rem;
    left: -70px;
  }

  @media (min-width: @desktop-width) {
    width: calc(100% / 0.7);
  }
}
