/* Страница формы подбора */
.page-form {
  height: 100%;
}

.page-form__intro {
  color: @black;
  font-family: "Oswald-regular", "Arial", sans-serif;
  padding: 0 20px;
  border-top: 1px solid @grey-2;
}

.intro__title {
  .font-s-h(36px;36px);
  margin: 27px 0 37px 0;
}

.intro__subtitle {
  text-transform: uppercase;
  margin: 0 0 40px 0;
}

.page-form__form-group {
  text-transform: uppercase;
  font-family: "Oswald-regular", "Arial", sans-serif;
}

.form-group__label {
  margin-right: 10px;
}

.field-name {
  padding: 25px 20px 25px 20px;
  margin: 0;
}

.form-group {
  margin: 0;
  border: 2px solid @basic-green;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.form-group__input--text {
  .font-s-h(16px;18px);
  text-transform: uppercase;
  font-family: "Oswald-regular", "Arial", sans-serif;
  padding: 15px auto 15px 15px;
  color: @dark-grey-1;
  border: 1px solid @grey-2;
  margin: 0 0 10px 0;
}

.text-group {
  border: none;
}

.form-group__title {
  .font-s-h(24px;26px);
  text-transform: none;
  color: @black;
  margin-bottom: 34px;
}

.form-group__input--radio {
  background-color: @basic-green;
  margin: 0 0 12px 0;
}

.radio-group {
  border-left: none;
  border-right: none;
  border-bottom: 1px solid @grey-2;
  border-top: 1px solid @grey-2;
}

.form-contact {
  border: 2px solid @basic-green;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.form-group__textarea {
  resize: none;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  width: 100%;
  min-height: 150px;
}

.page-form__footer {
  padding: 0 20px;
}

.footer-submit {
  width: 280px;
  height: 40px;
  padding: 8px 44px;
}
