.additional {
  background-color: inherit;
  max-width: 1440px;
  margin: 0 auto 35px auto;

  @media (min-width: @tablet-width) {
    margin: 0 auto 80px auto;
    display: grid;
    justify-content: center;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    margin-bottom: 80px;
  }
}

.additional__title {
  text-align: left;
  padding-left: 20px;
  margin-top: 25px;
  padding-bottom: 30px;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    padding-left: 70px;
    margin-bottom: 80px;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    padding-left: 110px;
    padding-bottom: 0;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 1;
  }
}

.additional__title span {
  .oswald();
  .font-s-h(24px;24px);
  font-weight: 200;
  color: @dark-grey-2;
  position: relative;

  @media (min-width: @tablet-width) {
    .font-s-h(36px;36px);
  }
}

.additional__wrap {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    margin: 0 30px 70px 30px;
    padding: 0 0 0 0;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 708px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    border: none;
    margin: 0 80px 0 110px;
    display: block;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }
}

.additional__item {
  border-bottom: 1px solid @grey-2;
  padding-top: 11px;

  @media (min-width: @tablet-width) {
    border-left: 1px solid @grey-2;
    border-right: 1px solid @grey-2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 28px 38px 0 38px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 245px);
    grid-template-rows: 1fr;
    align-items: baseline;
    column-gap: 80px;
    padding: 15px 0 17px 0;
    border-left: none;
    border-right: none;
  }
}

.additional__item:first-child {
  border-top: 1px solid @grey-2;
}

.additional__item-info {
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    margin-bottom: 22px;
    display: grid;
    grid-template-columns: 325px 325px;
    grid-template-rows: 1fr;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    grid-template-columns: 245px 286px;
    grid-template-rows: 1fr;
    grid-column-start: 1;
    grid-column-end: 3;
    column-gap: 80px;
  }
}

.additional__item-title {
  .oswald();
  .font-s-h(16px;16px);
  font-weight: 200;
  color: @dark-grey-2;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    .font-s-h(20px;20px);
  }
}


.additional__item-info tr {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    .font-s-h(16px;20px);
    justify-content: flex-end;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
  }
}

.additional__item-info td:first-child {
  @media (min-width: @tablet-width) {
    margin-right: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 0;
  }
}

.additional__item-info > table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
  }
}

.additional__item-info td {
  padding: 0;
}

.additional__item-button {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    width: 532px;
    margin-bottom: 25px;
  }

  @media (min-width: @desktop-width) {
    width: 244px;
    margin-bottom: 0;
    grid-column-start: 3;
    grid-column-end: 3;
  }
}

.additional__item-button .green-button {
  .font-s-h(16px;20px);
  font-weight: 200;

  @media (min-width: @tablet-width) {
    width: 632px;
    height: 40px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 244px;
  }
}

/* Промо блок с котом */

.additional__promo {
  margin-top: 40px;
  .font-s-h(16px;20px);
  color: @white;
  background-color: rgba(104, 183, 56, 0.85);
  background-image: url("/img/catalog/gift/gift-photo-mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 60px 43px 60px;
  row-gap: 46px;
  margin-left: 20px;
  margin-right: 20px;

  @media (min-resolution: 2dppx) {
    background-image: url("/img/catalog/gift/gift-photo-mobile@2x.png");
  }

  @media (min-width: @tablet-width) {
    background-image: url("/img/catalog/gift/gift-photo-tablet.png");
    flex-direction: row;
    margin-top: 0;
    margin-left: 30px;
    margin-right: 30px;
    padding: 0 0 0 0;
    justify-content: space-around;
    column-gap: 153px;
    height: 200px;

    @media (min-resolution: 2dppx) {
      background-image: url("/img/catalog/gift/gift-photo-tablet@2x.png");
    }
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    background-image: url("/img/catalog/gift/gift-photo-desktop.png");
    flex-direction: column;
    align-self: baseline;
    height: 290px;
    width: 245px;
    justify-self: start;
    align-items: center;
    justify-content: center;

    @media (min-resolution: 2dppx) {
      background-image: url("/img/catalog/gift/gift-photo-desktop@2x.png");
    }
  }
}

.additional__promo-icon {
  width: 80px;
  height: 80px;
}

.additional__promo-text {
  text-align: center;
  width: 160px;
}
