.page-catalog {
  background-color: @white;
  color: @dark-grey-1;
}

.catalog {
  border-top: 1px solid @grey-2;
  border-bottom: 1px solid @grey-2;

  @media (min-width: @tablet-width) {
    border-top: none;
    border-bottom: none;
    margin-bottom: 70px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 75px;
  }
}

.catalog__title-wrap {
  margin: 27px auto 0 auto;
  padding: 0 20px 0 20px;
  border-bottom: 1px solid @grey-2;

  @media (min-width: @tablet-width) {
    margin: 67px auto 162px auto;
    padding: 0 30px 0 30px;
    border-bottom: none;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin: 86px auto 164px 110px;
  }
}

.catalog__title {
  .font-s-h(36px;36px);
  .oswald();
  font-weight: 200;
  color: @black;
  margin: 0 0 40px 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    .font-s-h(60px;60px);
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.catalog__product-wrap {
  @media (min-width: @tablet-width) {
    padding: 0 30px;
    display: grid;
    grid-template-columns: repeat(4, 132px);
    grid-template-rows: repeat(4, 430px);
    column-gap: 60px;
    row-gap: 140px;
    justify-content: center;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 245px);
    grid-template-rows: repeat(2, 430px);
    column-gap: 80px;
    row-gap: 144px;
  }
}

.catalog__product-wrap .product {
  @media (min-width: @tablet-width) {
    grid-column: span 2;
  }

  @media (min-width: @desktop-width) {
    grid-column: span 1;
  }
}
