.page-catalog {
  background-color: @white;
  color: @dark-grey-1;
}

.catalog__wrap {
  padding: 0;
  margin: 0;
}

.catalog__title {
  .font-s-h(36px;36px);
  .oswald();
  color: @black;
  margin-left: 20px;
}

.product {
  background-color: @white;
  border-top: 1px solid @grey-2;
  border-bottom: 1px solid @grey-2;
}

.product__wrap {
  padding: 20px;
  display: grid;
}

.product__image {
  width: 100%;
}

.product__title {
  .font-s-h(16px;20px);
  color: @dark-grey-2;
  display: inline-block;
}

.product__meta {
  .font-s-h(12px;16px);
}

.additional__wrap {
  padding: 20px;
  display: grid;
}

.additional__item {
  border-top: 1px solid @grey-2;
  border-bottom: 1px solid @grey-2;
  padding: 13px 0 19px 0;
}

.additional__item-title {
  .font-s-h(16px;16px);
  color: @dark-grey-2;
  text-transform: uppercase;
}
