img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.green-button {
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  font-family: "Oswald-regular", "Arial", sans-serif;
  border: 0;
  background-color: @basic-green;
  color: @white;
  &:hover {
    background-color: @basic-green-2;
  }
  &:focus {
    color: fade(@white, 30%);
  }
}

.catalog-link {
  .font-s-h(20px;30px);
  width: 165px;
  height: 38px;
  outline: none;
  padding: 4px 0px 4px 0px;
  text-transform: uppercase;
  font-family: "Oswald-regular", "Arial", sans-serif;
  border: 0;
  background-color: transparent;
  color: @black;
  &:hover {
    background-color: @basic-green-2;
  }
  &:focus {
    color: fade(@black, 30%);
  }
}
