/*  Colors  */
@basic-green:#68B738;
@basic-green-2: #5EAA2F;
@white:#ffffff;
@black: #000000;
@basic-grey: #f2f2f2;
@grey-1:#EBEBEB;
@grey-2:#CDCDCD;
@grey-3:#666666;
@dark-grey-1:#444444;
@dark-grey-2:#222222;
/*  Fonts  */
.font-s-h(@f-size:14px; @f-height:18px) {
  font-size: @f-size;
  line-height: @f-height;
}
.oswald() {
  font-family: "Oswald-regular", "Arial", sans-serif;
}

.debug (@b-color:red;) {
  border-color: @b-color;
  border-style: dashed;
  border-width: 1px;
}
