.example {
  background-color: @basic-grey;
  max-width: 1440px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    background-color: @white;
  }
}

.example__wrap {
  padding: 0 20px 40px 20px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.example__slider-wrap {
  @media (min-width: @desktop-width) {
    background-color: @basic-grey;
    grid-column-start: 1;
    grid-column-end: -1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    padding-bottom: 67px;
  }
}

.example__header {
  .debug(@b-color: red;);
  padding-top: 27px;
  margin-bottom: 33px;

  @media (min-width: @tablet-width) {
    background-color: @white;
    padding: 0;
    margin-bottom: 65px;
    margin-left: 30px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 110px;
  }
}

.example__header-title {
  font-weight: 200;
  .font-s-h(36px,40px);
  .oswald();
  color: @black;
  margin: 0;

  @media (min-width: @tablet-width) {
    .font-s-h(60px,60px);
  }
}

.example__info {
  .debug(@b-color: green;);

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: @white;
    margin-left: 30px;
    margin-right: 30px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: -1;
    background-color: @basic-grey;
    justify-content: space-around;
    margin: 0;
    padding-left: 110px;
  }
}

.info__subtitle {
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    .font-s-h(16px,24px);
    margin: 0 0 55px 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    width: 435px;
  }
}

.info__blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    gap: 42px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    justify-content: flex-start;
    margin-bottom: 0;
  }
}

.info__blocks-border-wrap {
  border: 1px solid @grey-2;
  width: 124px;
  height: 56px;
  border-radius: 3px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 162px;
    height: 72px;
  }
}

.info__blocks-border-wrap--inner {
  .font-s-h(24px;24px);
  color: @black;
  text-align: center;
  text-transform: uppercase;
  font-family: "Oswald-regular", "Arial", sans-serif;
  font-weight: bold;
  margin: 0;
  position: relative;
  left: 0;
  bottom: 10px;

  @media (min-width: @tablet-width) {
    bottom: 0;
    .font-s-h(30px;40px);
  }
}

.info__blocks-border-wrap--outter {
  .font-s-h(12px;12px);
  display: block;
  position: relative;
  background-color: @basic-grey;
  top: 47px;
  left: 15px;
  width: 87px;
  text-align: center;

  @media (min-width: @tablet-width) {
    background-color: #ffffff;
    width: 142px;
    top: 63px;
    left: 8px;
  }

  @media (min-width: @desktop-width) {
    background-color: @basic-grey;
  }
}

.info__costs {
  .font-s-h(14px;20px);
  font-family: "Oswald-regular", "Arial", sans-serif;
  font-weight: bold;
  color: @black;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 45px;

  @media (min-width: @tablet-width) {
    .font-s-h(20px;20px);
    text-align: right;
    align-self: center;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: flex-start;
    align-self: stretch;
    column-gap: 63px;
  }
}

.info__costs-text {
  display: inline-block;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.example__slider {
  .debug(@b-color:blue;);
  background-color: @basic-grey;

  @media (min-width: @tablet-width) {
    margin-top: 255px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
    margin-top: 0;
  }
}

.slider__list {
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    height: 340px;
  }
}

.slider__item {
  text-align: center;
  height: 230px;

  @media (min-width: @tablet-width) {
    height: 340px;
  }
}

.slider__item-image {
  width: 100%;
}

.slider__item--fat-cat,
.slider__item--slim-cat {
  background-repeat: no-repeat;
  background-position: -20px;

  @media (min-width: @tablet-width) {
    background-position: 28px -20px;
    position: relative;
    top: -170px;
    left: 0;
    height: 510px;
  }

  @media (min-width: @desktop-width) {
    //background-position: 133px -210px;
    background-size: cover;
    background-position: -80px -60px;
    top: 0;
    left: 0;
  }
}

.slider__item--fat-cat {
  background-image: url("/img/before-mobile.png");

  @media (min-width: @tablet-width) {
    background-image: url("/img/image_cat_tablet-twins.png");
  }

  @media (min-width: @desktop-width) {
    background-image: url("/img/image_cat_desktop-twins.png");
  }
}

.slider__item--slim-cat {
  background-image: url("/img/after-mobile.png");

  @media (min-width: @tablet-width) {
    background-image: url("/img/cat-skinny.png");
  }
}

.slider__control {
  .font-s-h(16px;20px);
  font-family: "Oswald-regular", "Arial", sans-serif;
  font-weight: bold;
  color: @black;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding: 0 70px 60px 70px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.slider__control-text {
  position: relative;

  @media (min-width: @tablet-width) {
    .font-s-h(20px;30px);
    border-bottom: 1px dashed @grey-2;
    top: 4px;
  }
}

.slider__control span.slider__control-text:first-of-type {
  left: 6px;

  @media (min-width: @tablet-width) {
    left: -20px;
  }
}

.slider__control span.slider__control-text:last-of-type {
  right: 3px;

  @media (min-width: @tablet-width) {
    left: 20px;
  }
}

/* чекбокс-радио переключатель на mobile  */

.slider__input--radio {
  position: relative;
  display: inline-block;
  width: 84px;
  height: 14px;
  margin: 0 18px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.slider__input--radio input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 31px;
  left: 6px;
  bottom: 3px;
  border: 2px solid @basic-green;
  border-radius: 6px;
  background-color: @basic-green;
  transition: 0.4s;
}

input + .slider {
  border: 1px solid @grey-2;
}

input:checked + .slider {
  background-color: #ffffff;
  border: 1px solid @grey-2;
}

input:checked + .slider::before {
  left: 44px;
}

.slider.round {
  border-radius: 34px;
}

/* Ползунок range на table, desktop */

.slider__input--range {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline-block;
  }
}

.slider__input--range input[type="range"] {
  width: 428px;
  margin: 0;
  appearance: none;
  background: transparent;
}

.slider__input--range input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.slider__input--range input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  border: 1px solid #cdcdcd;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: @basic-green;
  cursor: pointer;
  margin-top: -14px;
  box-shadow: 0 0 0 11px #ffffff inset, 0 1px 3px rgba(0, 0, 0, 0.16);
}

.slider__input--range input[type="range"]:focus::-webkit-slider-thumb {
  border: 1px solid @basic-green;
}


.slider__input--range input[type="range"]::-moz-range-thumb {
  appearance: none;
  border: 1px solid #cdcdcd;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px;
  box-shadow: 0 0 0 10px #ffffff inset, 0 1px 3px rgba(0, 0, 0, 0.16);
}

.slider__input--range input[type="range"]::-ms-thumb {
  appearance: none;
  border: 1px solid #cdcdcd;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px;
  box-shadow: 0 0 0 10px #ffffff inset, 0 1px 3px rgba(0, 0, 0, 0.16);
}


.slider__input--range input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #dcdcdc;
  border-radius: 6px;
  border: 1px solid transparent;
}

.slider__input--range input[type="range"]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #dcdcdc;
  border-radius: 6px;
  border: 1px solid transparent;
}

.slider__input--range input[type="range"]:focus {
  outline: none;
}

span.slider__control-text:hover {
  border-bottom: 1px solid @grey-2;
}

span.slider__control-text input[type="range"]:hover {
  border-bottom: 1px solid  @grey-2;
}
