.howit {
  background-color: @white;
  counter-reset: section;

  @media (min-width: @tablet-width) {
    margin-bottom: 43px;
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: @desktop-width) {
    border-bottom: none;
    margin-bottom: 20px;
  }
}

.howit__wrap {
  padding-bottom: 42px;

  @media (min-width: @tablet-width) {
    padding-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
    margin: auto;
  }
}

.howit__header {
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.howit__header-title {
  .oswald();
  .font-s-h(36px,40px);
  font-weight: 200;
  color: @black;
  margin: 0;

  @media (min-width: @tablet-width) {
    .font-s-h(60px,60px);
  }

  @media (min-width: @desktop-width) {
    .font-s-h(60px,60px);
  }
}

.howit__list {
  display: grid;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: center;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(4, 132px);
    grid-template-rows: repeat(2, 227px);
    column-gap: 60px;
    row-gap: 90px;
  }

  @media (min-width: @desktop-width) {
    grid-template-rows: repeat(1, 226px);
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
  }
}

.howit__item {
  display: flex;
  column-gap: 20px;
  position: relative;

  &::after {
    display: none;
  }

  @media (min-width: @tablet-width) {
    flex-direction: column;
    gap: 37px;
    width: 245px;

    &::after {
      counter-increment: section;
      content: counter(section);
      display: block;
      position: absolute;
      opacity: 0.1;
      top: -41px;
      bottom: 0;
      right: -4px;
      .font-s-h(280px,280px);
      .oswald();
    }
  }

  @media (min-width: @desktop-width) {
    padding-right: 0;
  }
}


@media (min-width: @tablet-width) {
  .howit__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .howit__item--2 {
    grid-column-start: 3;
    grid-column-end: -1;
  }

  .howit__item--3 {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .howit__item--4 {
    grid-column-start: 3;
    grid-column-end: -1;
  }
}

.howit__item-icon {
  flex: none;
  width: 30px;
  height: 30px;
  border: 15px solid #68b738;
  background-color: #68b738;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-width: @tablet-width) {
    width: 30px;
    height: 30px;
    border: 25px solid #68b738;
  }
}

.howit__item--1 .howit__item-icon {
  background-image: url("/img/icons/icon_leaf.svg");
}

.howit__item--2 .howit__item-icon {
  background-image: url("/img/icons/icon_tub.svg");
}

.howit__item--3 .howit__item-icon {
  background-image: url("/img/icons/icon_eat.svg");
}

.howit__item--4 .howit__item-icon {
  background-image: url("/img/icons/icon_alarm.svg");
}

.howit__item-desc {
  margin: 0;

  @media (min-width: @tablet-width) {
    .font-s-h(16px,24px);
  }
}
