/* Главная страница */
.page-main {
  height: 100%;
  font-size: 16px;
  font-family: "Oswald-regular", "Arial", sans-serif;
  line-height: 24px;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  background-color: @white;
  color: @special-dark-grey;
}
