.promo {
  background-color: @white;
  color: @white;
  text-align: center;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 82px;
  }
}

.promo__wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 290px 40px;

  @media (min-width: @tablet-width) {
    grid-template-rows: 1fr 600px;
  }

  @media (min-width: @desktop-width) {
    grid-template-rows: 110px 110px 240px 240px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    margin-left: 80px;
  }
}

.promo__header--overlay {
  .oswald();
  background-image: url("/img/index-background-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row: 1;
  background-color: rgba(104, 183, 56, 0.85);
  background-blend-mode: overlay;
  height: 302px;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
    padding: 0;
    grid-row-start: 1;
    grid-row-end: -1;
    grid-column-start: 3;
    grid-column-end: -1;
    height: auto;
    background-image: url("/img/index-background-desktop.png");
    margin-right: -30px;
    margin-left: -120px;
  }
}

.promo__header {
  .oswald();
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row: 1;
  padding-top: 26px;

  @media (min-width: @tablet-width) {
    text-align: left;
    margin-left: 120px;
    margin-top: 55px;
    color: #000000;
    padding-top: 0;
  }

  @media (min-width: @desktop-width) {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 45px;
    margin-top: 0;
    margin-left: 110px;
  }
}

.promo__header-title {
  .font-s-h(36px,36px);
  margin: 0 0 25px 0;
  font-weight: 200;

  @media (min-width: @tablet-width) {
    .font-s-h(60px,60px);
    width: 414px;
    padding: 0;
    margin-bottom: 40px;
    margin-top: 10px;
  }
}

.promo__header-sub {
  text-transform: uppercase;
  .font-s-h(14px,14px);
  margin: 0;

  @media (min-width: @tablet-width) {
    .font-s-h(20px,20px);
  }
}

.promo__button {
  min-width: 280px;
  grid-row: 3;
  justify-self: center;
  grid-column-start: 1;
  grid-column-end: -1;

  @media (min-width: @tablet-width) {
    justify-self: self-start;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    margin-left: 120px;
    margin-top: 50px;
  }

  @media (min-width: @desktop-width) {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    min-width: auto;
    margin-left: 110px;
    margin-top: 0;
  }
}

.promo__image-can {
  background-image: url("/img/index-can-mobile.png");
  background-repeat: no-repeat;
  background-position: center 20px;
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: -1;

  @media (min-width: @tablet-width) {
    background-image: url("/img/index-can-tablet.png");
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: -1;
  }

  @media (min-width: @desktop-width) {
    background-image: url("/img/index-can.png");
    background-size: auto;
    grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: 2;
    grid-column-end: -1;
    background-position: 40px 14px;
    padding: 0;
  }
}

@media (min-width: @tablet-width) {
  .green-button {
    .font-s-h(20px;20px);
    width: 244px;
    height: 54px;
    padding: 14px 26px;
  }
}
